.icon-add-white { background-image: url('png/add-white.png'); background-repeat: no-repeat; }

.icon-add { background-image: url('png/add.png'); background-repeat: no-repeat; }

.icon-anecdote-list { background-image: url('png/anecdote-list.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-camera-flash { background-image: url('png/camera-flash.png'); background-repeat: no-repeat; }

.icon-camera-switch { background-image: url('png/camera-switch.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

.icon-challenge { background-image: url('png/challenge.png'); background-repeat: no-repeat; }

.icon-check-white { background-image: url('png/check-white.png'); background-repeat: no-repeat; }

.icon-check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon-clock-small-anim { background-image: url('png/clock-small-anim.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-cross { background-image: url('png/cross.png'); background-repeat: no-repeat; }

.icon-datetime { background-image: url('png/datetime.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-glasses { background-image: url('png/glasses.png'); background-repeat: no-repeat; }

.icon-glasses_white { background-image: url('png/glasses_white.png'); background-repeat: no-repeat; }

.icon-guess-totem { background-image: url('png/guess-totem.png'); background-repeat: no-repeat; }

.icon-help { background-image: url('png/help.png'); background-repeat: no-repeat; }

.icon-icon-small { background-image: url('png/icon-small.png'); background-repeat: no-repeat; }

.icon-leave-big { background-image: url('png/leave-big.png'); background-repeat: no-repeat; }

.icon-leave { background-image: url('png/leave.png'); background-repeat: no-repeat; }

.icon-location-big { background-image: url('png/location-big.png'); background-repeat: no-repeat; }

.icon-location { background-image: url('png/location.png'); background-repeat: no-repeat; }

.icon-mask { background-image: url('png/mask.png'); background-repeat: no-repeat; }

.icon-no-internet { background-image: url('png/no-internet.png'); background-repeat: no-repeat; }

.icon-participants { background-image: url('png/participants.png'); background-repeat: no-repeat; }

.icon-quote-small { background-image: url('png/quote-small.png'); background-repeat: no-repeat; }

.icon-quotes-pink { background-image: url('png/quotes-pink.png'); background-repeat: no-repeat; }

.icon-quotes { background-image: url('png/quotes.png'); background-repeat: no-repeat; }

.icon-settings-arrow { background-image: url('png/settings-arrow.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

.icon-star-add { background-image: url('png/star-add.png'); background-repeat: no-repeat; }

.icon-star-added { background-image: url('png/star-added.png'); background-repeat: no-repeat; }

.icon-star { background-image: url('png/star.png'); background-repeat: no-repeat; }

