<div class="page page-add-picture page-add-picture--full">

    <div class="canvas-wrapper">
        <canvas id="cameraCanvas" class="camera-canvas" width="100%"></canvas>

        <div class="switch-camera" id="switchCamera"></div>
        <div class="flash"></div>
    </div>

    <div class="page__content">
        <p class="page__description">
            Laisse un souvenir de cette activité<br/>que tu retrouveras sur la page d'évènement<br/>pour découvrir une anecdote du totem
        </p>
        <a id="takePicture" class="btn btn--outline btn--camera"></a>
    </div>


</div>