<div class="page__header">
    <h1 class="page__title">
        <img class="page__title__category-icon" src="img/categories/<%= challenge.category.toLowerCase() %>.svg" alt="<%= challenge.category %>">
        <%= challenge.category %>
    </h1>
    <p class="page__subtitle">
        <%= challenge.title %>
    </p>
</div>

<div class="page__content">
    <span class="page__content__title">Avec</span>
    <div class="users-wrapper" id="challengerWrapper">
    </div>

    <div class="btn-wrapper-meeting" id="btnWrapperMeeting" <% if(challenge.meeting) { %> style="opacity: 0.4;" <% } %> >
        <% if(challenge.meeting) { %>
            <a id="btnMeetingLink" class="btn btn--outline btn--location"></a>
            <p id="btnMeetingLabel" style="width: 200px"><%= challenge.meeting.location %></p>
        <% } else { %>
            <a href="#popup/meeting" id="btnMeetingLink" class="btn btn--outline btn--location"></a>
            <p id="btnMeetingLabel">Fixer un lieu de<br/>rendez-vous</p>
        <% } %>
    </div>
</div>

<div class="page__footer" id="footerTotem">
    <a id="validateChallenge" class="btn btn--validation<% if(currentUser.validated){ %> validated<% } %>">J'ai relevé le défi !</a>
    <div class="footer__totem" id="footerTotemButton">
        <img src="img/totem-<%= challenge.owner.totem %>.svg" height="42" alt="Totem">
        <div class="footer__totem__arrow"></div>
    </div>
</div>
