<div class="user-bubble__img">
    <div class="user-bubble__img__validation"></div>
    <div class="user-bubble__img__wrapper"><img src="<%=avatar %>" width="75" height="75" alt="User 1"></div>
</div>
<div class="user-bubble__name"><%=name %></div>