<div class="page__header">
    <div class="page__title">
        Totem en main
    </div>
</div>

<div>
    <div class="current-totem-wrapper">
        <div class="current-totem">
            <img src="img/totem-<%= owner.totem %>.svg" alt="Totem">
            <% if(!isFavorited) { %>
                <a id="addTotemToFavorite" class="btn btn--outline btn--star-add"></a>
            <% } else { %>
                <a id="addTotemToFavorite" class="btn btn--outline btn--star-added"></a>
            <% } %>
        </div>
    </div>
    <a href="#history/<%= owner.id %>" class="btn">Voir ses anecdotes</a>
</div>

<div class="favorites">
    <h2 class="favorites__title" data-clickable="true" id="favoritesToggle">
        Mes favoris
        <div class="favorites__arrow"></div>
    </h2>

    <div class="favorites__list" id="favoritesList">
        <div id="favoriteListInner" class="favorites__list__inner">
        </div>
    </div>
</div>

<div class="meetings">
    <h2 class="meetings__title">Rencontre</h2>
    <p>Scanne les différents stickers pour pouvoir rencontrer les totems favoris</p>

    <a href="#scan" class="btn">Deviner l'identité d'un totem</a>
</div>
