<div class="page-challenge__inner page-challenge__inner--empty">

    <div class="page__header">
        <h1 class="page__title">
            Pas de défi pour le moment
        </h1>
        <p class="page__subtitle">
            Attend de recevoir un totem pour relever des défis avec les autres participants de la soirée !
        </p>
    </div>

    <div class="page__footer">
        <p class="page__footer__content">
            Pour patienter,<br/>tu peux regarder les anecdotes que tu as renseignées dans ton totem.
        </p>
        <a href="#history" class="btn">
            Voir mon totem
        </a>
    </div>

</div>