<form id="devForm">
    <p>
        <label>Username</label>
        <input type="text" id="devUsername">
    </p>

    <p>
        <label>Totem</label>
        <input type="number" id="devTotem">
    </p>

    <p>
        <label>Image</label>
        <input type="text" id="devAvatar">
        <i>'lara' ou 'thomas'</i>
    </p>

    <p>
        <input type="submit" value="Envoyer">
    </p>
</form>
