<div class="page page-events">

    <div class="page__background__wrapper">
        <div class="page__background__inner" id="pageBackground">
            <% _.each(events, function(event) { %>
                <div class="page__background__item" style="background-image: url(img/<%= event.file_name %>);">
                    <% _.each(new Array(15), function() { %>
                        <div class="page__background__item__line"></div>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </div>

    <main>
        <div class="event-list">
            <div class="event-list__wrapper" id="eventList">
                <% _.each(events, function(event, i) { %>
                    <article class="event-card" data-index="<%= i %>" data-state="<%= event.state %>">
                        <aside class="event-card__meta">
                            <p class="event-card__meta__address"><%= event.adress %></p>
                            <div>
                                <p class="event-card__meta__people"><%= event.participant_count %></p>
                                <p class="event-card__meta__date"><%= event.date %></p>
                            </div>
                        </aside>

                        <header class="event-card__header">
                            <% if(event.state == 0) { %>
                                <img class="event-card__totem" height="53" src="img/totem-<%= user.model.totem %>.svg" alt="Totem">
                            <% } else { %>
                                <img class="event-card__totem" height="53" src="img/totem-<%= event.totem %>.svg" alt="Totem">
                            <% } %>
                            <h1 class="event-card__title"><%= event.name %></h1>
                            <p class="event-card__subtitle"><span class="event-card__subtitle__effect"></span><span class="event-card__subtitle__text"><%= event.location %></span></p>
                        </header>

                            <% if(event.state == 1) { %>
                        <a href="#challenge" class="btn event-card__button">
                            Découvrir l'évènement
                        </a>
                            <% } else if(event.state == 0) { %>
                        <% if(user.currentEvent == i) { %>
                            <a href="#challenge" class="btn event-card__button">
                                Retourner au challenge !
                            </a>
                        <% } else { %>
                            <a href="#start" class="btn event-card__button">
                                Je suis là !
                            </a>
                        <% } %>
                            <% } else { %>
                        <div class="event-card__remember">
                            <div class="event-card__remember__title">C'était...</div>
                            <div class="event-card__remember__inner">
                                <div class="event-card__remember__group event-card__remember__group--duration">
                                    <span class="event-card__remember__amount">4h30</span><span class="event-card__remember__label">de fun</span>
                                </div>
                                <div class="event-card__remember__group event-card__remember__group--interactions">
                                    <span class="event-card__remember__amount">187</span><span class="event-card__remember__label">interactions</span>
                                </div>
                                <div class="event-card__remember__group event-card__remember__group--challenges">
                                    <span class="event-card__remember__amount">52</span><span class="event-card__remember__label">défis</span>
                                </div>
                            </div>
                        </div>

                        <a href="#challenge" class="btn event-card__button">
                            Revivre l'évènement
                        </a>
                            <% } %>


                        <% if(event.state != -1) { %>
                        <footer class="event-card__footer">
                            <div class="event-card__footer__header">
                                Mon profil
                            </div>

                            <div class="event-card__profile">
                                <div class="profile__totem">
                                    <% if(event.state == 0) { %>
                                    <img class="event-card__totem" height="60" src="img/totem-<%= user.model.totem %>.svg" alt="Totem">
                                    <% } else { %>
                                    <img class="event-card__totem" height="60" src="img/totem-<%= event.totem %>.svg" alt="Totem">
                                    <% } %>
                                </div>
                                <div class="profile__name">
                                    <%= user.name %>
                                </div>
                                <ul class="profile__list">
                                    <li>
                                        <h3>Musique</h3>
                                        <span class="profile__progress-bar">
                                            <span class="profile__progress-bar__inner" data-percentage="80"></span>
                                        </span>
                                    </li>
                                    <li>
                                        <h3>Gourmet</h3>
                                        <span class="profile__progress-bar">
                                            <span class="profile__progress-bar__inner" data-percentage="70"></span>
                                        </span>
                                    </li>
                                    <li>
                                        <h3>Sport</h3>
                                        <span class="profile__progress-bar">
                                            <span class="profile__progress-bar__inner" data-percentage="40"></span>
                                        </span>
                                    </li>
                                    <li>
                                        <h3>Cinéma</h3>
                                        <span class="profile__progress-bar">
                                            <span class="profile__progress-bar__inner" data-percentage="20"></span>
                                        </span>
                                    </li>
                                </ul>

                                <a href="#settings" class="btn btn--round btn--outline btn--settings"></a>
                                <p class="profile__btn-label">Modifier mon profil</p>
                            </div>
                        </footer>

                        <% } %>

                    </article>
                <% }); %>
            </div>
            <div id="eventListBullets" class="event-list__bullets">
                <% _.each(events, function(event) { %>
                    <div class="event-list__bullet"></div>
                <% }); %>
            </div>
        </div>
    </main>

</div>