<div class="page page-history">
    <div class="page__background"></div>

    <div class="page__wrapper">
        <div class="page__header">
            <div class="page__totem">
                <img id="historyTotem" src="img/totem-<%= owner.totem %>.svg" height="85" alt="totem">
            </div>
        </div>

        <div class="page__content">
            <div class="anecdote-container" id="anecdoteContainer">
                <div id="anecdoteWrapper" class="anecdote-wrapper">
                    <% _.each(owner.anecdotes, function(anecdote, i) { %>
                    <article class="anecdote anecdote--sport <% if(!anecdote.unlocked && !isCurrentUser) { %>anecdote--hidden<% } %>">
                        <div class="anecdote__icon">
                            <img src="img/categories/<%= anecdote.category.toLowerCase() %>-white.svg" alt="Category">
                        </div>
                    </article>
                    <% }); %>
                </div>
                <div id="anecdoteTextWrapper" class="anecdote__text__wrapper">
                    <% _.each(owner.anecdotes, function(anecdote, i) { %>
                        <div class="anecdote__text">
                            <h1 class="anecdote__title">
                                <%= anecdote.category %>
                            </h1>
                            <p class="anecdote__content">
                                <%= anecdote.content %>
                            </p>
                            <% if(isCurrentUser) { %>
                            <div class="anecdote__options">
                                <a class="btn btn--outline btn--edit"></a>
                                <a class="btn btn--outline btn--delete"></a>
                            </div>
                            <% } %>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div class="action-float-buttons">
        <% if(!isCurrentUser) { %>
            <% if(isFavorited) { %>
                <a class="btn btn--float btn--outline btn--star-added btn--star-add--big btn--star-added--big"></a>
            <% } else { %>
                <a id="addFavorite" class="btn btn--float btn--outline btn--star-add btn--star-add--big btn--star-added--big"></a>
            <% } %>
        <% } %>
    </div>

</div>
