<div class="page page-home">
    <div class="page__background"></div>

    <svg id="quegoLogo" class="quego-logo" width="295px" height="85px" viewBox="0 0 295 85" version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <path class="logo-appear"
              d="M81.2,65.5 C80.8,67.2 80.2,69.3 79.6,70.8 C78.5,73.7 77,76.1 75.1,78.1 C73.2,80.1 71,81.6 68.4,82.7 C65.8,83.8 63.1,84.3 60,84.3 C57,84.3 54.2,83.7 51.6,82.6 C49.2,81.6 47,80 45.1,78 C43.2,76 41.7,73.5 40.7,70.7 C39.6,67.8 39.1,64.7 39.1,61.3 L39.1,51.2 C35,56.8 29.5,59.6 22.8,59.6 C19.2,59.6 16,58.9 13.1,57.5 C10.3,56.1 7.9,54.1 5.9,51.6 C3.9,49 2.5,46 1.4,42.5 C0.3,39 0,35.1 0,30.8 C0,26.1 0.6,21.9 1.8,18.3 C3,14.6 4.7,11.5 6.8,8.9 C8.9,6.3 11.4,4.4 14.4,3 C17.3,1.6 20.6,1 24.1,1 C31,1 36.2,3.8 39.5,9.2 L39.6,2.4 L53.7,2.4 L53.7,61.3 C53.7,65.1 54.3,67.8 55.6,69.2 C56.8,70.6 58.6,71.3 61,71.3 C63.2,71.3 64.8,70.5 65.9,68.9 C67,67.3 67.5,66 67.5,62.3 C67.5,62.3 70.5,63.8 74.1,64.5 C77.7,65.2 81.2,65.5 81.2,65.5 L81.2,65.5 Z M27.6,47 C35.8,47 39.9,41 39.9,28.9 C39.9,24.2 38.7,20.3 36.3,17.4 C34,14.4 31,13 27.5,13 C23.8,13 20.8,14.6 18.5,17.7 C16.2,20.8 15,24.9 15,29.8 C14.9,41.3 19.1,47 27.6,47 L27.6,47 Z"
              id="Shape"></path>
        <path class="logo-appear"
              d="M95.8,58.1 L95.8,50.3 C92,56.5 86.3,59.6 78.5,59.6 C75.7,59.6 73.2,59.1 70.9,58.1 C68.6,57.1 66.6,55.7 65,53.9 C63.3,52.1 62,49.9 61.1,47.5 C60.2,45 59.7,42.2 59.7,39.1 L59.7,2.5 L74.4,2.5 L74.4,36.9 C74.4,43.8 77.5,47.3 83.8,47.3 C87.6,47.3 90.4,46.1 92.3,43.7 C94.2,41.3 95.2,38.3 95.2,34.6 L95.2,2.5 L109.8,2.5 L109.8,58.1 L95.8,58.1 L95.8,58.1 Z"
              id="Shape"></path>
        <path class="logo-appear"
              d="M129,34.1 C129.2,38.3 130.4,41.7 132.7,44.2 C134.9,46.7 137.8,47.9 141.5,47.9 C143.9,47.9 146,47.4 147.9,46.3 C149.7,45.2 150.9,43.7 151.5,41.7 L166.6,41.7 C164.9,47.4 161.9,51.8 157.6,54.9 C153.3,58 148.2,59.5 142.2,59.5 C123.7,59.5 114.4,49.4 114.4,29.2 C114.4,24.9 115,21 116.2,17.6 C117.4,14.1 119.2,11.2 121.5,8.7 C123.8,6.2 126.6,4.3 129.9,3 C133.2,1.7 137,1 141.3,1 C149.9,1 156.4,3.8 160.8,9.2 C165.2,14.7 167.4,23 167.4,34.1 L129,34.1 L129,34.1 Z M152.2,24.8 C152.1,22.8 151.8,21 151.1,19.4 C150.5,17.9 149.6,16.6 148.6,15.6 C147.5,14.6 146.3,13.8 145,13.3 C143.6,12.8 142.2,12.6 140.8,12.6 C137.9,12.6 135.3,13.7 133.2,15.8 C131.1,17.9 129.8,20.9 129.5,24.8 L152.2,24.8 L152.2,24.8 Z"
              id="Shape"></path>
        <path class="logo-appear"
              d="M210.6,50.6 C209.5,53.1 207.6,55 204.9,56.4 C202.1,57.8 199,58.5 195.4,58.5 C190.8,58.5 186.9,57.7 183.8,56.1 C180.7,54.5 178.1,52.4 176.2,49.7 C174.3,47.1 172.9,44 172,40.5 C171.1,37 170.7,33.5 170.7,29.9 C170.7,25.6 171.3,21.7 172.6,18.1 C173.9,14.5 175.6,11.5 177.8,8.9 C180,6.4 182.5,4.4 185.5,3 C188.4,1.6 191.6,0.9 195,0.9 C201.9,0.9 207.1,3.7 210.6,9.3 L210.6,2.5 L225.3,2.5 L225.3,58.7 C225.3,62.9 224.6,66.6 223.2,69.8 C221.8,73 219.8,75.7 217.3,77.8 C214.8,79.9 211.9,81.6 208.5,82.7 C205.1,83.8 201.5,84.4 197.7,84.4 C193.9,84.4 190.3,83.9 187,82.8 C183.7,81.7 180.8,80.2 178.5,78.2 C176.1,76.2 174.3,73.8 172.9,70.9 C171.5,68 170.9,64.8 170.9,61.2 L184.6,61.2 C184.6,64.6 185.7,67.2 187.9,69.1 C190.1,70.9 193.1,71.9 196.8,71.9 C200.7,71.9 204,70.8 206.7,68.7 C209.4,66.6 210.8,63.6 210.8,59.9 L210.8,50.6 L210.6,50.6 Z M198.5,47 C202.1,47 205.1,45.6 207.5,42.9 C209.9,40.2 211.1,36.4 211.1,31.7 C211.1,19.8 206.9,13.8 198.6,13.8 C190.3,13.8 186.1,19.4 186.1,30.8 C186.1,35.8 187.3,39.7 189.7,42.7 C191.9,45.5 194.9,47 198.5,47 L198.5,47 Z"
              id="Shape"></path>
        <g class="logo-appear" id="Group">
            <path transform="translate(229.000000, 0.000000)"
                  d="M29.5,59.5 C25,59.5 20.9,58.8 17.4,57.4 C13.9,56 10.9,54 8.4,51.4 C6,48.8 4.1,45.7 2.8,42.1 C1.5,38.5 0.9,34.5 0.9,30.2 C0.9,25.8 1.6,21.8 2.9,18.2 C4.2,14.6 6.1,11.5 8.6,8.9 C11.1,6.3 14.1,4.4 17.6,3 C21.1,1.6 25.1,0.9 29.5,0.9 C33.9,0.9 37.8,1.6 41.3,3 C44.8,4.4 47.7,6.4 50.2,8.9 C52.6,11.4 54.5,14.5 55.8,18.1 C57.1,21.7 57.8,25.7 57.8,30.2 C57.8,34.6 57.1,38.7 55.8,42.2 C54.5,45.8 52.6,48.8 50.2,51.4 C47.8,54 44.8,55.9 41.3,57.3 C37.7,58.8 33.8,59.5 29.5,59.5 L29.5,59.5 Z M29.5,47.2 C38.5,47.2 42.9,41.5 42.9,30.2 C42.9,19 38.4,13.4 29.5,13.4 C20.5,13.4 16.1,19 16.1,30.2 C16.1,41.6 20.6,47.2 29.5,47.2 L29.5,47.2 Z"
                  id="Shape"></path>
            <polyline transform="translate(229.000000, 0.000000)" id="Shape"
                      points="34.8 59.1 65.2 59.1 40.5 50"></polyline>
        </g>
    </svg>

    <div class="btn-wrapper" id="btnConnexionWrapper">
        <a href="#events" id="btnConnexion" class="btn btn--connexion">
            Connexion
        </a>
    </div>
</div>