<header id="header" class="header">
    <img src="img/logo.svg" id="headerLogo" class="header__logo" height="18" alt="Quego">
    <a id="lateralMenuToggle" class="burger"><span class="burger__lines"></span></a>

    <div id="meetingTimeout" class="meeting-timeout"></div>

    <nav class="header__nav" id="headerNav">
        <div class="header__nav__disabled" data-clickable="true"></div>
        <div class="header__nav__profile">
            <div class="header__nav__profile__pic">
                <a id="leave" class="header__nav__profile__leave btn btn--outline btn--leave"></a>
                <img src="<%= user.avatar %>" alt="<%= user.name %>">
                <a href="#settings" class="header__nav__profile__anecdotes">
                    <strong><%= user.anecdotes.length %></strong> anecdotes
                </a>
            </div>
            <div class="header__nav__profile__name">
                <%= user.name %>
            </div>
        </div>
        <ul class="header__nav__menu" id="headerNavMenu">
            <li class="header__nav__menu__item">
                <a href="#challenge">
                    <span class="icon icon-challenge"></span>
                    Mon challenge
                </a>
            </li>
            <li class="header__nav__menu__item">
                <a href="#scan">
                    <span class="icon icon-guess-totem"></span>
                    Devine l'identité d'un totem
                </a>
            </li>
            <li class="header__nav__menu__item">
                <a href="#challenge/totem">
                    <span class="icon icon-star"></span>
                    Mes favoris
                </a>
            </li>
            <li class="header__nav__menu__item">
                <a href="#events">
                    <span class="icon icon-calendar"></span>
                    Mes évènements
                </a>
            </li>
            <li class="header__nav__menu__item">
                <a href="#">
                    <span class="icon icon-add"></span>
                    Organiser un événement
                </a>
            </li>
            <li class="header__nav__menu__item">
                <a href="#dev">
                    <span class="icon icon-settings"></span>
                    Paramètres
                </a>
            </li>
            <li class="header__nav__menu__item">
                <a href="#">
                    <span class="icon icon-help"></span>
                    Aide
                </a>
            </li>
        </ul>
    </nav>

    <div class="header__nav__overlay" id="headerNavOverlay">

    </div>

    <div class="header__nav__trigger" id="headerNavTrigger"></div>
</header>