<div class="page page-add-picture page-add-picture--full">

    <div class="sticker-outline__wrapper">
        <div class="sticker-outline">
            <div class="sticker-outline__bubble"></div>
            <div class="sticker-outline__border sticker-outline__border--first"></div>
            <div class="sticker-outline__border sticker-outline__border--second"></div>
            <div class="sticker-outline__border sticker-outline__border--third"></div>
        </div>
    </div>

    <div class="canvas-wrapper">
        <canvas id="cameraCanvas" class="camera-canvas" width="100%"></canvas>

        <div class="switch-camera" id="switchCamera"></div>
        <div class="flash"></div>
    </div>

    <div class="page__content">
        <p class="page__description">
           Scan un sticker<br/>pour activer un point de rendez-vous
        </p>
    </div>

</div>