<div class="page page-add-picture">

    <div class="canvas-wrapper">
        <canvas id="cameraCanvas" class="camera-canvas" width="100%"></canvas>

        <div class="switch-camera" id="switchCamera"></div>
        <div class="flash"></div>
    </div>

    <div class="page__content">
        <p class="page__description">
           Prend un selfie pour que tout<br/>le monde te reconnaisse
        </p>
        <a id="takePicture" class="btn btn--outline btn--camera"></a>
    </div>

</div>