<div id="pageParameters" class="page page-parameters">
    <main id="settingsScrollContainer" class="page__inner">
        <header id="parametersHeader" class="page__header">
            <h1 class="page__title">
                <div id="pageParametersTitleBefore" class="page__title__before"></div>
                Tes centres d'intérêt
            </h1>
            <div class="categories__wrapper">
                <ul id="categoryDraggable">
                    <% _.each(settings, function(setting){ %>
                        <li><%= setting.title %></li>
                    <% }); %>
                </ul>
            </div>
        </header>

        <ul id="caracteristics" class="caracteristics">
            <li id="scrollTrigger"></li>

            <% _.each(settings, function(setting) { %>
                <div class="caracteristics__group">
                <% _.each(setting.caracteristics, function(c) { %>
                    <li class="caracteristics__item">
                        <h2 class="caracteristics__title">
                            <%= c.name %>
                        </h2>
                        <div class="drag-input">
                            <div class="drag-input__active"></div>
                            <div class="drag-input__handle"></div>
                        </div>
                    </li>
                <% }); %>
                </div>
            <% }); %>
        </ul>
    </main>

    <div class="action-float-buttons">
        <a href="#history" class="btn btn--float btn--outline btn--anecdote-list"></a>
        <a href="#popup/anecdote" class="btn btn--float btn--outline btn--anecdote"></a>
    </div>
</div>