/**********************
* HEADER NAV
**********************/

#menu {
  height: 50px;
}

.header {
  position: relative;
  z-index: 9999;
  pointer-events: none;

  * {
    pointer-events: auto;
  }

  &__logo {
    position: absolute;
    right: $gutter;
    top: 50%;
    transform: translateY(-50%);
  }

  &__nav {
    position: fixed;
    z-index: 99999 !important;
    top: 0;
    width: 66vw;
    left: 0;
    height: 100vh;
    background: $c-background;
    transform: translate3d(-100%, 0, 0);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      background: $c-background;
      width: 100vw;
    }

    &__trigger {
      position: fixed;
      z-index: 99999;
      top: 80px;
      bottom: 0;
      left: 0;
      width: 20px;
    }
    
    &__overlay {
      position: fixed;
      z-index: 999;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.6);
      transform: translateZ(0);
      visibility: hidden;
      opacity: 0;
    }

    display: flex;
    flex-direction: column;

    &__disabled {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      height: 70px;
      z-index: 10;
    }


    &__profile {
      position: relative;
      background: $c-background-2;
      margin-bottom: 40px;
      padding: $gutter $gutter $gutter/2 $gutter*2;
      margin-left: -$gutter*2;
      
      &__pic {
        position: relative;
        width: 124px;
        margin: 0 auto;
        margin-bottom: 15px;
        transform: translate3d(0,0,0);

        &:before, &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 50%;
        }

        &:before {
          background: $c-main;
          z-index: 2;
          mix-blend-mode: lighten;
        }

        &:after {
          background: $c-secondary;
          z-index: 1;
          mix-blend-mode: multiply;
        }

        img {
          display: block;
          width: 100%;
          border-radius: 50%;
          height: auto;
        }
      }

      &__leave {
        position: absolute;
        top: 0;
        left: -15px;
        z-index: 11;
      }

      &__anecdotes {
        background: $c-pink-20;
        position: absolute;
        bottom: 14px;
        right: -50px;
        font-size: 9px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 18px;
        color: $c-white;
        text-decoration: none;

        strong {
          display: block;
          font-size: 10px;
        }
        
        &:before {
          content: '';
          display: block;
          width: 16px;
          height: 11px;
          background: url(../img/icons/quotes.svg) no-repeat center/contain;
          position: absolute;
          top: -6px;
          right: 5px;
        }
      }

      &__name {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 0 $gutter;
      }

      &:after {
        content: '';
        display: block;
        background: inherit;
        height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -40px;
        -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
        clip-path: polygon(0 0, 100% 0, 0 100%);
      }
    }

    &__menu {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      padding: 15px 25px 25px;
      margin: 0;

      &__item {
        a {
          text-decoration: none;
          color: $c-white;
          font-size: 16px;
          line-height: 1.45em;
          padding-left: 30px;
          display: inline-block;
          position: relative;

          .icon {
            display: inline-block;
            width: 14px;
            height: 25px;
            background-size: contain;
            background-position: top;
            position: absolute;
            left: 0;
            top: 4px;
          }
        }
      }
    }
  }

  .meeting-timeout {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    text-align: left;
    padding-left: 24px;
    transform: translate(-50%, -50%);
    color: $c-white;

    &:before {
      content: '';
      @extend .icon-clock-small-anim;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 13px;
    }

    &:empty {
      display: none;
    }
  }
}

.burger {

  display: block;
  position: relative;
  width: 60px;
  height: 50px;

  &__lines {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3px;
    width: 23px;
    background: $c-text-light;
    border-radius: 2px;
    transform: translate(-50%, -50%);

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: inherit;
      width: inherit;
      background: inherit;
      border-radius: inherit;
      top: 0;
      left: 0;
    }

    &:before {
      transform: translateY(-250%);
    }

    &:after {
      transform: translateY(250%);
    }
  }
}