/************************
* BUTTONS
************************/

.btn {
  border-radius: 100px;
  padding: 15px 25px;
  line-height: 1.2em;
  display: inline-block;
  box-shadow: 0 0 10px rgba($c-main, 0.2);
  transition: all 0.05s linear;
  text-decoration: none;
  background: $c-secondary;
  color: $c-white;

  &--facebook {
    background: $c-main;
    color: #fff;
  }

  &:active {
    background-color: desaturate(darken($c-secondary, 10%), 20%);
    transform: translate3d(0, 2px, 0);
  }

  &--float {
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }

  &--outline {
    border: solid 1px $c-white;
    background: none;

    &:active {
      background-color: transparent;
      transform: translate3d(0, 3px, 0) scale(0.9);
    }
  }

  &--settings {
    background: url(../img/icons/settings.svg) no-repeat center/contain;
    background-origin: content-box;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &--location {
    background: url(../img/icons/location-big.svg) no-repeat center/contain;
    background-origin: content-box;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &--leave.btn {
    @extend .icon-leave;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    width: 44px;
    height: 44px;
    padding: 10px 12px 10px 8px;
    border-radius: 50%;
    background-color: $c-background-2;
    box-shadow: 0 0 0 6px $c-background-2;
  }

  &--close.btn {
    @extend .icon-close;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    width: 54px;
    height: 54px;
    padding: 17px;
    border-radius: 50%;
  }

  &--star-add.btn {
    @extend .icon-star-add;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    width: 42px;
    height: 42px;
    padding: 8px;
    border-radius: 50%;

    &.btn--star-add--big {
      width: 64px;
      height: 64px;
      padding: 17px;
    }
  }

  &--star-added.btn {
    @extend .icon-star-added;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    width: 42px;
    height: 42px;
    padding: 8px;
    border-radius: 50%;

    &.btn--star-added--big {
      width: 64px;
      height: 64px;
      padding: 17px;
    }
  }

  &--camera.btn {
    @extend .icon-camera;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    width: 64px;
    height: 64px;
    padding: 17px;
    border-radius: 50%;
  }

  &--anecdote.btn {
    @extend .icon-quote-small;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    width: 64px;
    height: 64px;
    padding: 17px;
    border-radius: 50%;
    background-color: $c-background;
  }

  &--anecdote-list.btn {
    @extend .icon-anecdote-list;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    width: 64px;
    height: 64px;
    padding: 17px;
    border-radius: 50%;
    background-color: $c-background;
  }

  &--continue {
    line-height: 54px;
    height: 54px;
    border-radius: 32px;
    padding: 0 50px;
  }

  &--validation {
    position: relative;
    transition: all 0.2s ease-in-out;

    &:after {
      @extend .icon-check-white;
      background-position: center;
      background-size: contain;
      background-origin: content-box;
      width: 21px;
      height: 21px;
      background-color: $c-pink-20;
      border-radius: 50%;
      box-sizing: border-box;
      padding: 6px;
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      opacity: 0;
      transform: translate3d(5px, -50%, 0);
      transition: all 0.2s ease-in-out;
    }

    &.validated {
      padding-right: 50px;
      background: #3926a8;
      color: #b0a8dc;

      &:after {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
      }
    }
  }

  &--small {

  }

  &--edit.btn {
    @extend .icon-edit;
    width: 44px;
    height: 44px;
    padding: 12px;
    background-origin: content-box;
  }

  &--delete.btn {
    @extend .icon-delete;
    width: 44px;
    height: 44px;
    padding: 12px;
    background-origin: content-box;
  }
}

.action-float-buttons {
  position: fixed;
  z-index: 9980;
  bottom: $gutter;
  right: $gutter;
  display: flex;
  flex-direction: column;

  .btn + .btn {
    margin-top: 15px;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    pointer-events: none;
    right: -$gutter;
    bottom: -$gutter;
    width: 100vw;
    height: 100vw;
    //background: linear-gradient(to top left, rgba($c-background,1), rgba($c-background,0));
    background: url(../img/floating-button-shadow.png) bottom center/cover;
  }
}

/************************
* POPUP
************************/

.popup {
  &__inner {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    border: solid 4px $c-white;
    background: $c-background;
    padding: 30px $gutter 35px;
    position: absolute;
    z-index: 99999;
    margin: 0 $gutter;
    width: calc(100vw - #{2*$gutter});
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  &__title {
    color: $c-pink-20;
    font-size: 24px;
  }

  &__icon {
    display: block;
    height: 55px;
    background-size: contain;
    background-position: center;
  }

  &__content {
    margin-bottom: 40px;
  }

  &__overlay {
    position: absolute;
    z-index: 99998;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0);
    width: 120vh;
    height: 120vh;
    border-radius: 50%;
    background: rgba($c-blue-3,0.9);
  }

  .btn {
    display: block;

    + .btn {
      margin-top: 20px;
    }
  }

  img, svg {
    max-width: 100%;
    height: auto;
  }

  .picture-wrapper {

    position: relative;
    transform: translate3d(0,0,0);

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $c-main;
      mix-blend-mode: lighten;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $c-secondary;
      mix-blend-mode: multiply;
    }

    img {
      display: block;
      transform: scaleX(-1);
    }
  }

  &--meeting, &--guess-totem {

    .popup__inner {
      padding: $gutter;
    }

    .popup__title {
      margin-top: 0;
    }

    .popup__content {
      margin-bottom: 15px;
      margin-top: 20px;
    }
  }

  .user-form {
    &__wrapper {
      position: relative;

      input {
        width: 100%;
        display: block;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        padding: 0 15px;
        border: none;
        font-size: 14px;
        color: $c-background;
      }
    }

    &__autocomplete {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 99;
      top: 36px;
      left: 0;
      right: 0;
      padding: 0 15px;
      background: darken($c-background, 6%);
      max-height: 147px;
      overflow: scroll;

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px 0;

        & + .user-form__autocomplete__item {
          margin-top: 0;
        }
      }
    }

    &__picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;
      position: relative;
      transform: translate3d(0,0,0);

      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
      }

      &:before {
        background: $c-main;
        z-index: 2;
        mix-blend-mode: lighten;
      }

      &:after {
        background: $c-secondary;
        z-index: 1;
        mix-blend-mode: multiply;
      }
    }

    &__name {

    }
  }

  .totem-slider, .time-slider {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px 0;

    &__wrapper {
      transform: translateX(50%);
      margin: 0px -20px;
    }

    &--location {
      .totem-slide {
        background-color: transparent !important;
        height: auto;
      }
    }
  }

  .time-slider {
    margin-top: 5px;
    &__label {
      color: $c-pink-20;
      margin-top: -20px;
      margin-bottom: 25px;

      &__s {
        display: inline-block;
        position: relative;
      }
    }
  }

  .totem-slide {
    width: 45px;
    height: 31px;
    flex-grow: 1;
    flex-shrink: 0;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transform: translateX(-50%);
    padding: 0 13px;
    box-sizing: content-box;
    background: $c-white;

    svg {
      fill: inherit;
    }
  }

  &--meeting {
    .totem-slide {
      width: 80px;
      font-size: 12px;
      padding: 0 20px;

      &.active {
        z-index: 10;
      }
    }
  }

  .time-slide {
    flex-grow: 1;
    flex-shrink: 0;
    transform: translateX(-50%);
    font-size: 26px;
    box-sizing: content-box;
    width: 45px;
    position: relative;

    &__inner {
      display: block;
      padding: 0 7px;
    }

  }
  
  &--anecdote {

    .popup__icon {
      height: 25px;
    }

    .popup__text {
      margin-left: -5px;
      margin-right: -5px;
    }

    select, textarea {
      background: $c-white;
      border-radius: 4px;
      color: $c-pink-20;
      display: block;
      width: 100%;
      padding: 0 15px;
      font-size: 16px;
      font-weight: bold;
      border: none;
    }

    textarea {
      padding: 15px;
      height: 130px;
      margin-top: 20px;
    }

    select {
      height: 40px;
      line-height: 40px;
    }
  }

  &--new-totem {
    .popup__totem {
      padding: 40px 0;
      img {
        height: 40vw;
        width: auto;
        max-width: 80vw;
      }
    }
  }

}

.validate-picture {
  .popup__inner {
    padding: 30px;
  }

  .popup__title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .btn-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .popup .btn + .btn {
    margin-top: 0;
  }
}

/************************
* LOADER
************************/

/*
.app-loader {

  $loader-bg: rgba($c-white, 0.7);

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;

  span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $loader-bg;
    -webkit-animation: opacitate 0.9s infinite alternate;
    animation: opacitate 0.9s infinite alternate;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $loader-bg;
    top: 0;
    -webkit-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
    -webkit-animation: opacitate 0.9s infinite alternate;
    animation: opacitate 0.9s infinite alternate;
  }

  &:after {
    -webkit-transform: translate(150%, 0);
    transform: translate(150%, 0);
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  &--swipe {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    -webkit-animation: opacitate 0.9s infinite alternate;
    animation: opacitate 0.9s infinite alternate;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  @keyframes opacitate {
    from {
      opacity: 0.8;
    }

    to {
      opacity: 0;
    }
  }
}
*/

.loader-wrapper {
  height: 100vh;
  transform: translateZ(0);
  margin-top: -50px;
}

.app-loader {
  @extend .icon-icon-small;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 10;
  animation: scale 0.33s infinite alternate;
}

@keyframes scale {
  from {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  to {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
  }
}

.ripples {
  .ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120vh;
    height: 120vh;
    transform: translate3d(-50%, -50%, 0);
    background: rgba($c-background, 0.5);
    border-radius: 50%;
    animation: ripple 1s infinite;
    animation-delay: 0.2s;

    &:nth-child(2) {
      animation-delay: 0.33s;
    }

    &:nth-child(2) {
      animation-delay: 0.66s;
    }
  }

  @keyframes ripple {
    0% {
      transform: translate3d(-50%, -50%, 0) scale(0);
    }

    60% {
      opacity: 1;
    }

    100% {
      transform: translate3d(-50%, -50%, 0) scale(1);
      opacity: 0;
    }
  }
}