/***********************
* Montserrat (Google Fonts)
***********************/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-hairline-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-hairline-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-ultralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}