*, *:before, *:after {
  outline: none;
  box-sizing: border-box;
  transform-origin: 50% 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: $f-main;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: $c-text-light;
  background: $c-background-2;
  overflow: hidden;
}