.page-transition {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  z-index: 99999;

  .login-btn {
    position: absolute;
    z-index: 99999;
    bottom: 25vh;
    left: 50%;
    transform: translate3d(-50%, 50%, 0) scale(0);
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background: $c-background;
  }
}

.transition {
  position: absolute;
  &--simple {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    background: $c-background;
  }
}