/********************
* COLORS
********************/

$c-white: #e3d9f5;
$c-white-100: #fff;

$c-blue-10: #0f1779;

$c-blue-5: #1c114e;

$c-blue-3: #150b33;

$c-pink-10: #f43976;

$c-pink-20: #f61469;

$c-main: $c-blue-10;

$c-secondary: $c-pink-10;

$c-background-2: #1D0E69;

$c-background: $c-blue-5;

$c-text-light: $c-white;

$f-main: 'Montserrat', sans-serif;

// LAYOUT

$gutter: 20px;