.page-add-picture {
  margin-top: -50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  .page__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
  }

  .page__description {
    padding: 0 $gutter;
  }

  .canvas-wrapper {
    position: relative;
    overflow: hidden;
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: url(../img/camera-gradient.png) repeat-x center/contain;
    }
  }

  .camera-canvas {
    display: block;

    &[data-facing="user"] {
      transform: scaleX(-1);
    }
  }

  .switch-camera {
    @extend .icon-camera-switch;
    width: 34px;
    height: 26px;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 10;
    left: $gutter;
    bottom: $gutter;
  }

  .flash {
    @extend .icon-camera-flash;
    width: 14px;
    height: 24px;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 10;
    right: $gutter;
    bottom: $gutter;
  }

  .sticker-outline {
    pointer-events: none;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: rotate 8s infinite linear;

    &__wrapper {
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &__bubble {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60vw;
      height: 60vw;
      border-radius: 50%;
      transform: translate3d(-50%, -50%, 0) scale(0);
      background: rgba(255,255,255,0.6);
    }

    &__border {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60vw;
      height: 60vw;
      border: solid 10px rgba(255,255,255,0.6);
      animation: rotate 8s infinite linear;

      &--first {
        width: #{random(6)+57}vw;
        height: #{random(6)+57}vw;
        border-radius: random(15)+35% random(15)+35% random(15)+35% random(15)+35%;
      }

      &--second {
        width: #{random(6)+57}vw;
        height: #{random(6)+57}vw;
        border-radius: random(15)+35% random(15)+35% random(15)+35% random(15)+35%;
        animation-direction: reverse;
        animation-duration: #{random(3)+3}s;
        animation-delay: -#{random(3)+3}s;
      }

      &--third {
        width: #{random(6)+57}vw;
        height: #{random(6)+57}vw;
        border-radius: random(15)+35% random(15)+35% random(15)+35% random(15)+35%;
        animation-duration: #{random(3)+3}s;
        animation-delay: -#{random(3)+3}s;
      }
    }


    @keyframes rotate {
      from {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
      }

      to {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
      }
    }
  }

  &--full {
    .canvas-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .page__content {
      position: absolute;
      left: 0;
      right: 0;
      text-shadow: 0 0 5px rgba(0,0,0,0.8);
      bottom: 50px;
    }
  }
}