.page-challenge-totem {
  height: calc(200vh - 50px);
  margin-top: -50px;
}

.page-challenge, .page-totem {
  padding-top: 60px;
  height: 100vh;
}

.page-totem {
  height: calc(100vh - 50px);
  padding-top: 10px;
}

.page-challenge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page__header {
    position: relative;
    text-align: center;
    padding-bottom: $gutter;
    flex-shrink: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .page__title {
      margin: 0;
      font-size: 24px;
      color: $c-pink-20;
      padding: 0 $gutter;

      &__category-icon {
        content: '';
        display: block;
        width: 66px;
        height: 38px;
        margin: 0 auto;
        margin-bottom: 15px;
        //background: no-repeat center/contain;
        //background-image: url(../img/icons/glasses.svg);
      }
    }

    .page__subtitle {
      padding: 0 $gutter*2;
      margin: 0;
      margin-top: 10px;
    }
  }
  
  .page__content {
    background: $c-background;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
  }

  .users-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 $gutter;
    text-align: center;
  }

  .user-bubble {
    position: relative;
    flex-basis: 75px;
    padding: 0 10px;
    flex-grow: 1;
    flex-shrink: 0;

    &__img {
      position: relative;
      width: 75px;
      margin: 0 auto;

      &__wrapper {
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        transform: translate3d(0,0,0);

        &:before, &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 50%;
        }

        &:before {
          background: $c-main;
          z-index: 2;
          mix-blend-mode: lighten;
        }

        &:after {
          background: $c-secondary;
          z-index: 1;
          mix-blend-mode: multiply;
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &__validation {
        @extend .icon-check-white;
        background-position: center;
        background-size: contain;
        background-origin: content-box;
        width: 100%;
        height: 100%;
        background-color: $c-pink-20;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 25%;
        content: '';
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        transform-origin: 100% 0;
        transform: translate3d(0, 0, 0);
      }
    }

    &__name {
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
    }

    &.validated {

      .user-bubble__img__wrapper {
        &:after {
          background: #5545d6;
        }
      }
    }
  }

  .btn-wrapper-meeting {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;

    .btn {
      margin-right: 20px;
    }
  }

  .page__footer {
    text-align: center;
    flex-shrink: 5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: $gutter/2;
  }

  .footer__totem {
    opacity: 0.3;

    &__arrow {
      display: block;
      width: 21px;
      height: 11px;
      margin: 0 auto;
      padding-top: 10px;
      box-sizing: content-box;
      background: url(../img/icons/settings-arrow.svg) no-repeat center bottom/contain;
    }
  }
  
  .page-challenge__inner {
    height: 100%;
    display: flex;
    flex-direction: column;

    &--empty {
      .page__header {
        .page__title {
          color: $c-white;
          font-size: 20px;
          margin-bottom: 20px;

          &:before {
            content: '';
            display: block;
            margin: 0 auto;
            margin-bottom: 15px;
            @extend .icon-clock;
            opacity: 0.15;
            width: 130px;
            height: 130px;
            margin-bottom: 35px;
          }
        }

        .page__subtitle {
          margin-bottom: 20px;
        }
      }

      .page__footer__content {
        margin-bottom: 30px;
      }
    }

    .page__footer {
      background: $c-background;
      padding: 0 $gutter;
      justify-content: center;
    }
  }
}
