.page-dev {
  padding: 0 $gutter;

  label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }

  input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: none;
    padding: 0 $gutter;
    font-size: 16px;

    &[type=submit] {
      margin-top: 40px;
      font-size: 16px;
      background: $c-secondary;
      color: $c-white;
    }
  }
}