.page-events {

}

.event-card {
  position: relative;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: calc(100vh - 50px);
  justify-content: space-between;

  &__meta {
    position: relative;
    background: rgba(#000, 0.3);
    padding: $gutter/1.6 $gutter;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    transform-origin: 50% 0;
    transform: perspective(300px);

    &__address, &__date, &__people {
      margin: 0;

      &:before {
        content: '';
        display: inline-block;
        background: no-repeat center/contain;
      }
    }

    &__address {
      margin-bottom: $gutter/1.8;

      &:before {
        width: 10px;
        height: 14px;
        margin-right: 12px;
        background-image: url(../img/icons/location.svg);
      }
    }

    &__date {
      &:before {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        background-image: url(../img/icons/datetime.svg);
      }
    }

    &__people {
      float: right;

      &:before {
        width: 17px;
        height: 12px;
        margin-right: 10px;
        background-image: url(../img/icons/participants.svg);
      }
    }
  }

  &__totem {
    height: 60px;
    width: auto;
  }

  &__header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1050;

    .event-card__totem {
      height: 90px;
    }
  }

    &__title {
      margin-top: 15px;
      font-size: 30px;
      margin-bottom: 0;
    }

    &__subtitle {
      position: relative;
      font-size: 16px;
      margin-top: 3px;
      margin-bottom: 0;
      font-weight: 300;
      
      &__effect {
        display: block;
        position: absolute;
        top: -2px;
        right: -4px;
        bottom: -2px;
        left: -4px;
        background: $c-white;
        transform-origin: 0 50%;
        transform: scale(0, 1);
      }
    }

  &__remember {
    background: rgba($c-background, 0.5);
    margin-bottom: 30px;
    padding: 20px 0;

    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__group {
      width: 33.333333333%;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__amount {
      font-size: 24px;
      font-weight: bold;
    }

    &__label {
      display: block;
    }
  }

  .btn {
    align-self: center;
  }

  &__footer {
    margin-top: 67px;
    padding: 0 0 $gutter;
    position: relative;
    font-weight: 300;
    font-size: 16px;

    &__header {
      &:before {
        content: '';
        position: absolute;
        top: -$gutter;
        width: 145px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba($c-white, 0.2);
      }
      
      &:after {
        content: '';
        display: block;
        width: 21px;
        height: 11px;
        margin: 0 auto;
        transform: rotate(180deg);
        margin-top: 10px;
        background: url(../img/icons/settings-arrow.svg) no-repeat center/contain;
      }
    }
  }

  &:first-child, &:last-child {
    .event-card__meta {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100px;
        width: 100px;
        background: rgba(#000, 0.3);
      }
    }
  }

  &:last-child {
    .event-card__meta {
      &:before {
        left: auto;
        right: -100px;
      }
    }
  }

  &[data-state="-1"] {
    padding-bottom: 28px;

    .event-card__button {
      margin-top: 23px;
    }
  }
}

.event-list {
  width: 100%;
  overflow: hidden;
  position: relative;

  &__wrapper {
    white-space: nowrap;
    width: 100%;
    display: flex;

    > * {
      width: 100%;
      white-space: normal;
    }
  }

  &__bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: -1;
    bottom: 100px;
    left: 0;
    right: 0;
  }

  &__bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $c-white;
    transform: translateZ(0) scale(1);
    border: solid 1px transparent;
    transition: transform 0.2s ease-in-out;

    & + & {
      margin-left: 5px;
    }

    &.active {
      background: transparent;
      transform: translateZ(0) scale(1.5);
      border: solid 1px $c-white;
    }
  }
}

$beforeHeight: 35px;

.event-card__profile {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: $beforeHeight;
  padding-bottom: 21px;
  transform: translate3d(0, 100%, 0);

  &:before {
    content: '';
    position: absolute;
    height: $beforeHeight;
    top: 0;
    left: 0;
    right: 0;
    background: $c-background;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
    z-index: -1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: $beforeHeight;
    left: 0;
    right: 0;
    bottom: -200px;
    background: $c-background;
  }
}

.profile {
  &__totem {
    margin-bottom: 10px;
  }

  &__name {
    color: $c-secondary;
    font-size: 24px;
    font-weight: 700;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 50px;
    margin-bottom: 30px;

    li {
      h3 {
        font-size: 16px;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: 5px;
      }
    }
  }

  &__progress-bar {
    position: relative;
    display: block;
    width: 270px;
    margin: 0 auto;
    background: rgba($c-white, 0.25);
    height: 7px;
    border-radius: 3px;
    overflow: hidden;
    
    &__inner {
      content: '';
      position: absolute;
      display: block;
      background: $c-secondary;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }

  &__btn-label {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10px;
  }
}