.pageWrapper {
  overflow: hidden;
  height: 100vh;
  margin-top: -50px;
  padding-top: 50px;
}

.page {
  //background: linear-gradient(to bottom, $c-main, $c-secondary);
  background-attachment: fixed;

  &__background {

    &__inner, &__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__wrapper {
      z-index: -2;
      overflow: hidden;
      background: $c-background;
    }

    &__inner {
      top: 0px;
      bottom: 0px;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      transform: translate3d(0, 0, 0);
    }

    &__item {
      background-position: top center;
      background-size: cover;
      position: relative;
      height: 100%;
      width: 100%;
      //z-index: -1;
      flex-basis: 100%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      
      &__line {
        flex-grow: 1;
        background: inherit;
        transform: translate3d(0, 0, 0);

        @for $i from 1 through 15 {

          // for each $col_#{i}
          &:nth-child(#{$i}) {
            background-position-y: -($i - 1)*(100vh/15);
          }
        }
      }
    }

    /*
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $c-main;
      mix-blend-mode: lighten;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $c-secondary;
      mix-blend-mode: multiply;
    }
    */
  }
}