.page-history {
  .page__totem {
    text-align: center;
  }

  .page__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
  }

  .page__background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50vh;
    z-index: -1;
    background: url(../img/home-bg.jpg) bottom/cover no-repeat;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($c-background, 0.7);
    }
  }

  .page__content {
    $beforeHeight: 35px;
    flex-grow: 1;

    padding: $beforeHeight 30px 0;

    position: relative;
    z-index: 10;
    overflow: hidden;

    display: flex;

    &:before {
      content: '';
      position: absolute;
      height: $beforeHeight;
      top: 0;
      left: 0;
      right: 0;
      background: $c-background;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(100% 0, 100% 100%, 0% 100%);
      z-index: -1;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: $beforeHeight;
      left: 0;
      right: 0;
      bottom: 0;
      background: $c-background;
    }

    .anecdote-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 31px;
      padding: 0 20px;
      overflow: hidden;
    }

    .anecdote-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      //margin-top: 40px;
      overflow: visible;
      top: 80px;

      &:before {
        content: '';
        position: absolute;
        left: 23px;
        top: 36px;
        bottom: -500px;
        width: 3px;
        background: $c-pink-20;
      }
    }

    .anecdote {
      position: relative;
      padding-left: 80px;
      flex-basis: 80px;

      &__icon {
        content: '';
        position: absolute;
        z-index: 10;
        display: block;
        width: 55px;
        height: 55px;
        left: 25px;
        top: 6px;
        background: $c-pink-20;
        border-radius: 50%;
        padding: 6px;
        overflow: hidden;
        transform: translateX(-50%) scale(0.2);
        transition: all 0.4s ease-in-out;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60%;
          height: auto;
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: all 0.2s ease-in-out 0.1s;
        }

      }

      &:after {
        content: '';
        position: absolute;
        bottom: 46px;
        height: 80px;
        width: 3px;
        background: $c-white;
        left: 23px;
        transform: scale(1, 0);
        transform-origin: 50% 100%;
        transition: all 0.8s ease-in-out;
      }

      &--hidden {
        .anecdote__icon {
          background: $c-white;
        }

        &:after {
          transform: scale(1,1);
        }

        &:first-child {
          &:after {
            content: none;
          }
        }

        &:last-child {
          &:after {
            height: 800px;
            top: -50px;
          }
        }
      }

      &__text {
        position: absolute;
        top: 80px;
        left: 100px;
        right: 0;
        transform: translate3d(0,0,0);

        .btn--edit {
          margin-right: 10px;
        }
      }

      &__title {
        margin-top: 0;
        margin-bottom: 15px;
        color: $c-pink-20;
        font-size: 24px;
      }

      &__options {
        margin-top: 20px;
      }

      &.semi-active:not(.anecdote--hidden) {
        .anecdote__icon {
          transform: translateX(-50%) scale(0.4);

          img {
            opacity: 1;
          }
        }
      }

      &.active:not(.anecdote--hidden) {
        .anecdote__icon {
          transform: translateX(-50%) scale(1);

          img {
            opacity: 1;
          }
        }
      }

      &:last-child {
        margin-bottom: 50vh;
      }
    }
  }
}