.page-home {

  height: 100vh;
  position: relative;
  margin-top: -50px;
  
  .page__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/home-bg.jpg) center/cover no-repeat;
  }

  .quego-logo {
    fill: #fff;
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 40vw;
    height: auto;

    .logo-appear {
      opacity: 0;
    }
  }

  .btn-wrapper {
    position: absolute;
    bottom: 30vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    opacity: 0.01;
  }

  .btn--connexion {

  }
}
