.page-parameters {
  background: $c-background;
  height: calc(100vh - 50px);

  .page__inner {
    height: 100%;
    padding-top: 190px;
    overflow: scroll;
  }

  .page__background {
    display: none;
  }

  .header, .page__header {
    background: $c-background-2;
  }

  .page__header {
    position: absolute;
    z-index: 99;
    top: 49px;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: $gutter;
    flex-shrink: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      bottom: -14px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border: solid 15px transparent;
      border-top-color: $c-background-2;
      border-bottom: none;
    }
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      bottom: -35px;
      left: 0;
      right: 0;
      height: 35px;
      //background: linear-gradient(to bottom, rgba(#000, 0.4), rgba(#000, 0));
      pointer-events: none;
    }

    .page__title {
      margin: 0;
      font-size: 24px;
      color: $c-pink-20;

      &__before {
        content: '';
        display: block;
        width: 54px;
        height: 52px;
        margin: 0 auto;
        margin-bottom: $gutter;
        background: url(../img/hobbies.svg) no-repeat center/contain;
      }
    }


    .categories__wrapper {
      overflow: hidden;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      white-space: nowrap;
      padding: 30px 0 20px;

      li {
        position: relative;
        display: inline-block;
        padding: 0 15px;
        font-size: 16px;
        font-weight: bold;
        color: #4f4276;
        transition: all 0.2s ease-in-out;

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: -5px;
          height: 4px;
          background: $c-white;
          border-radius: 2px;
          transform: scale(0, 1);
          transition: all 0.2s ease-in-out;
        }
        
        &.active {
          color: $c-white;

          &:after {
            transform: scale(1, 1);
          }
        }
      }
    }
  }

  .caracteristics {
    margin: 0;
    padding: 30px 0 0px;
    list-style: none;
    flex-shrink: 1;
    flex-grow: 0;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__group {
      flex-basis: 100vw;
      flex-grow: 1;
      flex-shrink: 0;
    }

    &__item {
      + .caracteristics__item {
        margin-top: $gutter * 1.5;
      }

      &:last-child {
        margin-bottom: 150px;
      }
    }

    &__title {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      padding: 0 $gutter;
    }

    .drag-input {
      position: relative;
      display: block;
      height: 6px;
      border-radius: 5px;
      background: rgba($c-white, 0.2);
      margin: 0 50px;

      &__handle {
        position: absolute;
        top: 50%;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $c-secondary;
        transform: translate3d(0, -50%, 0);
        
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 60px;
          width: 80px;
        }
      }

      &__active {
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: 100%;
        border-radius: inherit;
        background: $c-secondary;
        transform-origin: 0 0;
        transform: scale(0, 1);
      }
    }
  }
}