.page-challenge-totem {

  &__wrapper {
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    padding-top: 50px;
  }
}

.page-totem {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: $gutter;
  padding-right: $gutter;
  padding-bottom: 30px;

  h1, h2, h3 {
    margin: 0;
  }

  .page__header {
    margin-bottom: 20px;
  }

  .page__title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }

  .current-totem {
    position: relative;
    background: $c-background;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      width: 58%;
      height: auto;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $c-background-2;
      box-shadow: 0 0 0 5px $c-background-2;
    }
  }

  .favorites {

    margin: 20px (-$gutter);
    background: $c-background;

    &__title {
      padding: 0;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      font-weight: bold;

      &:after {

      }
    }

    &__arrow {
      position: relative;
      display: inline-block;
      vertical-align: sub;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-left: 10px;
      border: solid 1px $c-white;
      transition: all 0.3s ease-in-out;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border: solid 4px transparent;
        border-top-color: $c-white;
        border-bottom: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__list {
      height: 0;
      overflow: hidden;

      &__inner {
        overflow: scroll;
        padding: 0 20px;
        padding-bottom: 23px;
        white-space: nowrap;
      }

      &__item {
        position: relative;
        background: $c-background-2;
        display: inline-block;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        margin: 0 9px;
        border-radius: 50%;
        opacity: 0;
        transform: translate3d(0,0,0) scale(0);

        img {
          width: 70%;
          height: auto;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          bottom: 0;
          @extend .icon-add-white;
          background-size: 60%;
          background-position: center;
          background-clip: content-box;
          border: solid 1px $c-white;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          padding: 5px;
          transform: translate(-50%, 50%);
        }
      }
    }

    &.open {
      .favorites__arrow {
        transform: rotate(180deg);
      }
    }
  }

  .meetings {
    margin-bottom: 30px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}