<div id="anecdote">
    <div class="popup popup--anecdote" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <span class="popup__icon icon icon-quotes-pink"></span>
            <h1 class="popup__title">
                Une anecdote<br/>sur toi !
            </h1>
            <p class="popup__content popup__text">
                Un souvenir, une pensée,
                un gout particulier, une aventure,
                quelque chose qui te distingue ?
            </p>
            <p class="popup__content">
                <select id="anecdoteCategory">
                    <option value="Sport">Catégorie</option>
                    <option value="Sport">Sport</option>
                    <option value="Cinema">Cinéma</option>
                    <option value="Musique">Musique</option>
                    <option value="Gourmet">Gourmet</option>
                </select>
                <textarea id="anecdoteContent" cols="30" rows="10" placeholder="Raconte ton anecdote"></textarea>
            </p>
            <div class="btn" id="sendAnecdote">Valider</div>
        </div>
        <div id="popupOverlay" class="popup__overlay"></div>
    </div>
</div>
