<div id="challengeSuccess">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <span class="popup__icon icon icon-check"></span>
            <h1 class="popup__title">
                Défi réussi !
            </h1>
            <p class="popup__content">
                Chante une chanson populaire au milieu de tout le monde.
            </p>
            <a class="btn" href="#addMemory/<%= ownerID %>">Déposer un souvenir et découvrir l'anecdote</a>
            <div class="btn btn--outline" id="nextChallenge">Suivant</div>
        </div>
        <div id="popupOverlaySoft" class="popup__overlay"></div>
    </div>
</div>
