<div id="guessTotemSuccess">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <span class="popup__icon icon icon-mask"></span>
            <h1 class="popup__title">
                Totem découvert !
            </h1>
            <p class="popup__content">
                <% if(meeting.accepted) { %>
                    Rendez-vous dans <strong id="guessedTotemTimeout"><%= meeting.timeout %> minutes</strong> <strong id="guessedTotemLocation"><%= meeting.location %>.</strong>
                <% } else { %>
                    Cependant, son propriétaire n'a pas accepté le rendez-vous...
                <% } %>
            </p>
            <a class="btn" id="closePopupSoft">Ok</a>
        </div>
        <div id="popupOverlaySoft" class="popup__overlay"></div>
    </div>
</div>
