<div id="guessTotem">
    <div class="popup popup--guess-totem" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <h1 class="popup__title">
                À toi de deviner
            </h1>
            <p class="popup__content">
                Sélectionne le totem que tu veux retrouver parmis tes favoris :
            </p>
            <div id="totemSliderWrapper">
                <div class="totem-slider__wrapper">
                    <ul class="totem-slider" id="totemSlider">
                        <% _.each(users, function(user) { %>
                        <li class="totem-slide" data-id="<%= user.id %>" style="-webkit-mask-image: url(img/totem-<%= user.attributes.totem %>.svg); mask-image: url(img/totem-<%= user.attributes.totem %>.svg);">
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <p class="popup__content">
                Qui penses-tu que ce soit ?
            </p>
            <div class="user-form__wrapper" id="userAutocompleteWrapper">
                <input type="hidden" id="userAutocompleteId">
                <input type="text" id="userAutocompleteInput">
                <ul id="userAutocompleteList" class="user-form__autocomplete">
                </ul>
            </div>
            <p>Rendez-vous ici dans :</p>
            <div id="timeSliderWrapper">
                <div class="time-slider__wrapper">
                    <ul class="time-slider" id="timeSlider">
                        <% _.each(new Array(20), function(e, i) { %>
                        <li class="time-slide" data-timeout="<%= (i+1) %>">
                            <div class="time-slide__inner">
                                <%= (i+1) %>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <p class="time-slider__label" id="timeSliderLabel">
                minute<span id="timeSliderLabelS" class="time-slider__label__s">s</span>
            </p>
            <div class="btn" id="sendGuessTotem">Valider</div>
        </div>
        <div id="popupOverlay" class="popup__overlay"></div>
    </div>
</div>
