<div id="guessedTotem">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <span class="popup__icon icon icon-mask"></span>
            <h1 class="popup__title">
                On t'a démasqué !
            </h1>
            <p class="popup__content">
                Rencontre celui qui t'as mis à jour au <strong id="guessedTotemLocation"><%= meeting.location %></strong> dans <strong id="guessedTotemTimeout"><%= meeting.timeout %> minutes.</strong>
            </p>
            <a class="btn" id="acceptGuessMeeting" data-finderID="<%= meeting.finderID %>">Accepter le rendez-vous</a>
            <div class="btn btn--outline" id="declineGuessMeeting" data-finderID="<%= meeting.finderID %>">Décliner le rendez-vous</div>
        </div>
        <div id="popupOverlay" class="popup__overlay"></div>
    </div>
</div>
