<div id="guessTotemError">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <span class="popup__icon icon icon-cross"></span>
            <h1 class="popup__title">
                C'est raté...
            </h1>
            <p class="popup__content">
                Tu n'as pas réussi à deviner qui se cachait derrière ce totem...
            </p>
            <a class="btn" id="closePopupSoft">Ok</a>
        </div>
        <div id="popupOverlaySoft" class="popup__overlay"></div>
    </div>
</div>
