<div id="leave">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <span class="popup__icon icon icon-leave-big"></span>
            <h1 class="popup__title">
                Déjà en route ?
            </h1>
            <p class="popup__content">
                Nous espérons que vous avez passé une soirée géniale !
            </p>
            <p class="page__content">
                Êtes-vous certain<br/>de vouloir partir ?
            </p>
            <a class="btn" id="leaveButton">Oui, je m'en vais</a>
            <div class="btn btn--outline" id="closePopupSoft">Non, je reste !</div>
        </div>
        <div id="popupOverlaySoft" class="popup__overlay"></div>
    </div>
</div>
