<div id="meeting">
    <div class="popup popup--meeting" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <h1 class="popup__title">
                Rendez-vous
            </h1>
            <p class="popup__content">
                Sélectionne un point de rendez-vous pour retrouver les challengers :
            </p>
            <div id="totemSliderWrapper">
                <div class="totem-slider__wrapper">
                    <ul class="totem-slider totem-slider--location" id="totemSlider">
                        <li class="totem-slide" data-location="À l'entrée, avec Daniel le vigile.">
                            À l'entrée, avec Daniel le vigile.
                        </li>
                        <li class="totem-slide" data-location="Au bar, avec un verre !">
                            Au bar, avec un verre !
                        </li>
                        <li class="totem-slide" data-location="Au buffet, j'ai la dalle !">
                            Au buffet, j'ai la dalle !
                        </li>
                        <li class="totem-slide" data-location="Devant la salle, pause clope !">
                            Devant la salle, pause clope !
                        </li>
                        <li class="totem-slide" data-location="On se fait un billard et on attaque !">
                            À la table de billard.
                        </li>
                    </ul>
                </div>
            </div>
            <p>Rendez-vous ici dans :</p>
            <div id="timeSliderWrapper">
                <div class="time-slider__wrapper">
                    <ul class="time-slider" id="timeSlider">
                        <% _.each(new Array(20), function(e, i) { %>
                        <li class="time-slide" data-timeout="<%= i+1 %>">
                            <div class="time-slide__inner">
                                <%= (i+1) %>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <p class="time-slider__label" id="timeSliderLabel">
                minute<span id="timeSliderLabelS" class="time-slider__label__s">s</span>
            </p>
            <div class="btn" id="sendMeeting">Valider</div>
        </div>
        <div id="popupOverlay" class="popup__overlay"></div>
    </div>
</div>
