<div id="newTotem">
    <div class="popup popup--new-totem" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <h1 class="popup__title">
                Bravo !
            </h1>
            <p class="popup__content">
                Tu as reçu un nouveau totem
            </p>
            <p class="popup__totem">
                <img id="totemImage" data-src="img/totem-<%= owner.totem %>.svg" alt="totem">
            </p>
            <a class="btn" href="#history/<%= owner.id %>">Découvre son histoire</a>
            <a class="btn btn--outline" href="#challenge">Aller au nouveau défi</a>
        </div>
        <div id="popupOverlaySoft" class="popup__overlay"></div>
    </div>
</div>
