<div id="noInternetPopup">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <h1>
                Perte de signal internet
            </h1>
            <p>
                Il semblerait que la connexion
                internet soit interrompue.
                Vous pouvez toujours relever
                le défi en cours, cependant
                la prise en compte de la
                validation se fera une fois
                la connexion retrouvée.
            </p>
            <div class="btn" id="closePopup">J'ai compris</div>
        </div>
        <div id="popupOverlay" class="popup__overlay"></div>
    </div>
</div>
