<div id="validatePicture" class="validate-picture">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <div class="picture-wrapper">
                <img id="pictureImg" data-src="<%= base64 %>" />
            </div>
            <div class="btn-wrapper">
                <div class="btn btn--outline btn--close" id="closePopup"></div>
                <a href="#challenge" class="btn btn--continue">Valider</a>
            </div>
        </div>
        <div id="popupOverlay" class="popup__overlay"></div>
    </div>
</div>
