<div id="validateMemory" class="validate-picture validate-picture--memory">
    <div class="popup" id="popupWrapper">
        <div id="popupInner" class="popup__inner">
            <div class="picture-wrapper">
                <img id="pictureImg" data-src="<%= base64 %>" />
            </div>
            <div class="btn-wrapper">
                <div class="btn btn--outline btn--close" id="closePopupSoft"></div>
                <a id="addMemoryHistory" class="btn btn--continue">Valider</a>
            </div>
        </div>
        <div id="popupOverlaySoft" class="popup__overlay"></div>
    </div>
</div>
